.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  background-color: token('color.background.neutral.1.background');
  height: 100%;
  position: relative;
  display: grid;
  grid-template-areas:
    'main'
    'alternatives';
  width: 100%;
  max-width: var(--maxPageWidth);
}

.main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: token('spacing.xLarge');
  width: 100%;
  max-width: var(--maxPageWidth);
  padding: token('spacing.xLarge');
  margin: 0 auto;
  margin-top: token('spacing.large');
  background-color: token('color.background.neutral.0.background');
  border-radius: token('border.radius.regular');
}

.input {
  display: flex;
  flex-direction: column;
}

.searchSection {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.button {
  text-align: center;
}

.heading {
  color: token('color.background.accent.0.foreground.primary');
  margin-bottom: token('spacing.medium');
}

.alternativesWrapper {
  grid-area: alternatives;
  width: 100%;
  background-color: token('color.background.neutral.0.background');
  padding: token('spacing.xLarge');
  max-width: var(--maxPageWidth);
  margin: 0 auto;
  border-radius: 0 0 token('border.radius.regular')
    token('border.radius.regular');
}

.alternatives {
  display: flex;
  flex-direction: column;
  gap: token('spacing.medium');
  padding: token('spacing.large');
  width: 100%;
  max-width: var(--maxPageWidth);
  margin: 0 auto;
  margin-bottom: 5.75rem;
  display: flex;
  flex-direction: column;
  gap: token('spacing.large');
  background-color: token('color.background.neutral.2.background');
  border-radius: token('border.radius.regular');
}

.buttons {
  grid-area: alternatives;
  align-self: end;
  display: flex;
  justify-content: flex-end;
  gap: token('spacing.medium');
  width: 100%;
  max-width: var(--maxPageWidth);
  margin: 0 auto;
  padding: token('spacing.medium') token('spacing.large') token('spacing.large')
    token('spacing.large');
  z-index: 10;
  position: absolute;
  left: 0;
  right: 0;
  background-color: token('color.background.neutral.0.background');
  border-radius: 0 0 token('border.radius.regular')
    token('border.radius.regular');
}

.searchInputButton {
  height: var(--height);
  border: none;
  background-color: token('color.background.neutral.0.background');
  border: token('border.width.slim') solid
    token('color.foreground.dynamic.disabled');
  padding: token('spacing.small');
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  right: token('spacing.medium');
  transform: translate(0, -50%);
  z-index: 100;
}

.walkSpeedSegments {
  max-width: 30rem;
}

@media (max-width: 650px) {
  .container {
    grid-template-areas:
      'main'
      'buttons'
      'alternatives';
  }

  .main {
    display: flex;
    flex-direction: column;
    padding-bottom: token('spacing.xLarge') !important;
    border-radius: token('border.radius.regular') token('border.radius.regular')
      0 0;
  }

  .buttons {
    grid-area: buttons;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
  }

  .alternativesWrapper {
    padding: token('spacing.small');
  }

  .alternatives {
    padding: token('spacing.medium');
  }

  .removeAllBorderRadius {
    border-radius: 0;
  }

  .container {
    padding: token('spacing.medium');
  }

  .walkSpeedSegments {
    max-width: 100%;
  }
}

.contentContainer {
  margin: 0 auto;
  width: 100%;
  max-width: var(--maxPageWidth);
  padding: token('spacing.xLarge');
  display: flex;
  flex-direction: column;
  gap: token('spacing.medium');
}

.tripResults {
  display: flex;
  flex-direction: column;
  gap: token('spacing.large');
}

.nonTransitResult {
  display: flex;
  flex-wrap: wrap;
  gap: token('spacing.medium');
}

.spanColumns {
  grid-column: 1 / -1;
}

.removeBorderRadiusBottom {
  border-radius: token('border.radius.regular') token('border.radius.regular') 0
    0;
}
