@import "@atb/theme/theme.css";
@value assistant: "./styles/assistant.module.css";
@value search: "./styles/search.module.css";
@value selector: "./styles/selector.module.css";

:root {
  --ws-icon-size-xLarge: 2.5rem;

  --ws-colors-header-border-bottom: #ffffff;
}

@media (max-width: 400px) {
  :root {
    --ws-icon-size-xLarge: 1.75rem;
  }
}

.hidden {
  display: none;
}

.wrapper {
  background-color: token("color.background.neutral.0.background");
  box-sizing: border-box;
}
.wrapper * {
  box-sizing: border-box;
}

.form {
  composes: container from assistant;
}

@media (max-width: 650px) {
  .form {
    padding: 0;
  }
}

.nav {
  margin: 0;
}

.tabs {
  list-style-type: none;
  display: flex;
  list-style-position: inside;
  padding: 0;
  margin: 0;
  gap: token("spacing.xLarge");
  color: token("color.background.accent.0.foreground.primary");
}

.tabs a {
  text-decoration: none;
  display: block;
  padding-bottom: token("spacing.medium");
  color: token("color.background.accent.0.foreground.primary");
  border-bottom: 1px solid token("color.foreground.dynamic.secondary");
  box-sizing: border-box;
}
a.tabSelected {
  text-decoration: none;
  border-bottom: 2px solid token("color.foreground.dynamic.primary");
  font-weight: var(--baseTypo-body__m__strong-fontWeight, 500);
}
.tabs a:hover {
  color: token("color.background.accent.1.foreground.primary");
}
.tabs a:active {
  color: token("color.background.accent.0.foreground.primary");
}

.main {
  composes: main from assistant;
  margin-top: 0;
  padding-top: token("spacing.large");
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 2.75rem;
}
.heading {
  composes: heading from assistant;
  margin-bottom: 0.375rem;

  font-size: var(--baseTypo-body__m__strong-fontSize, 1rem);
  line-height: var(--baseTypo-body__m__strong-lineHeight, 1.25rem);
  letter-spacing: var(--baseTypo-body__m__strong-letterSpacing, 0.03125rem);
  font-weight: var(--baseTypo-body__m__strong-fontWeight, 500);
}

.inputBoxes {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  border: 0;
  padding: 0;
  margin: 0;
}
.searchSection {
  composes: searchSection from assistant;
}
.search_container {
  composes: container from search;
  background-color: token("color.background.neutral.0.background");
}
.search_inputContainer {
  composes: inputContainer from search;
}
.search_label {
  composes: label from search;

  font-size: var(--baseTypo-body__s-fontSize, 0.875rem);
  line-height: var(--baseTypo-body__s-lineHeight, 1.25rem);
  letter-spacing: var(--baseTypo-body__s-letterSpacing, 0.015625rem);
}
.search_input {
  composes: input from search;
}

.search_input::placeholder {
  color: token("color.foreground.dynamic.secondary");
  opacity: 1;
}

.search_inputLast {
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}

.button_swap {
  composes: searchInputButton from assistant;
}
/* Selector */

.selector_group {
  composes: departureDateSelector from selector;
}

.selector_options {
  --number-of-options: 3;
  composes: options from selector;
}
.selector_options__small {
  --number-of-options: 2;
  composes: options from selector;
}
.selector_option {
  composes: option from selector;
}

.selector_option__text {
  composes: option__text from selector;
}
.selector_option__label {
  composes: option__label from selector;
  position: relative;
}
.selector_option__input {
  composes: option__input from selector;
}
.selector_option__input:checked + .selector_option__label {
  color: token("color.foreground.dynamic.primary");
  background: token("color.interactive.0.active.background");
  border-radius: token("border.radius.regular");
  border: token("border.width.medium") solid
    token("color.interactive.2.outline.background");
}

.selector_dateAndTimeSelectorsWrapper {
  composes: dateAndTimeSelectorsWrapper from selector;
}
.selector_dateAndTimeSelectorsWrapper__hidden {
  display: none;
}

.selector_dateAndTimeSelectors {
  composes: dateAndTimeSelectors from selector;
}

.selector_dateSelector {
  composes: dateSelector from selector;
}
.selector_timeSelector {
  composes: timeSelector from selector;
}

.buttonGroup {
  display: flex;
  justify-content: end;
  background-color: token("color.background.neutral.0.background");
}

.button,
.buttonLightOutline {
  cursor: pointer;
  text-align: left;
  border: 0;
  text-decoration: none;
  align-items: center;

  font-size: var(--baseTypo-body__m-fontSize, 1rem);
  line-height: var(--baseTypo-body__m-lineHeight, 1.25rem);
  letter-spacing: var(--baseTypo-body__m-letterSpacing, 0.03125rem);

  display: flex;

  flex-wrap: nowrap;
  gap: token("spacing.small");

  background: transparent;
  color: currentColor;

  transition: all 100ms ease-in;
  padding: token("spacing.medium");
  border-radius: token("border.radius.circle");
}
.button span,
.buttonLightOutline span {
  display: block;
  flex: 1;
}

.button {
  color: token("color.foreground.inverse.primary");
  background-color: token("color.interactive.0.default.background");
}

.button:visited {
  color: token("color.foreground.dynamic.primary");
  background-color: token("color.interactive.0.active.background");
  box-shadow: inset 0 0 0 token("border.width.slim")
    token("color.interactive.0.default.foreground.primary");
}
.button:hover {
  color: token("color.foreground.dynamic.primary");
  background-color: token("color.interactive.0.active.background");
}
.button:active {
  background-color: token("color.interactive.0.active.background");
  color: token("color.interactive.0.active.foreground.primary");
}
.button:disabled,
.button.button--disabled {
  background-color: token("color.interactive.0.disabled.background");
  color: token("color.interactive.0.disabled.foreground.primary");
}
.button:focus {
  outline: 0;
  box-shadow: inset 0 0 0 token("border.width.medium")
    token("color.interactive.0.outline.background");
}

/* Interactive button 0 bordered alternative background. */
.buttonLightOutline,
.buttonLightOutline:visited {
  background-color: token("color.interactive.0.default.background");
  color: token("color.interactive.0.default.foreground.primary");
  box-shadow: inset 0 0 0 token("border.width.slim")
    token("color.interactive.0.default.foreground.primary");
}

.buttonLightOutline:hover {
  background-color: token("color.interactive.0.hover.background");
  color: token("color.interactive.0.hover.foreground.primary");
}

.buttonLightOutline:active {
  background-color: token("color.interactive.1.hover.background");
  color: token("color.interactive.1.active.foreground.primary");
}

.buttonLightOutline:disabled,
.buttonLightOutline.button--disabled {
  background-color: token("color.interactive.0.disabled.background");
  color: token("color.interactive.0.disabled.foreground.primary");
}

.buttonLightOutline:focus {
  outline: 0;
  box-shadow: inset 0 0 0 token("border.width.medium")
    token("color.interactive.0.active.background");
}

/* Autocomplete */

.listItem {
  composes: item from search;
}
.listItem:not(:last-child) {
  border-bottom: 1px solid token("color.border.primary.background");
}
.listItem[aria-selected="true"],
.listItem:hover {
  color: token("color.interactive.2.hover.foreground.primary");
  background-color: token("color.interactive.2.hover.background");
  outline: token("border.width.medium") solid
    token("color.interactive.2.outline.background");
  border-radius: token("border.radius.small");
}

.itemTitle {
  composes: itemName from search;
}

.itemIcon {
  composes: itemTitle from search;
}
.itemIcon img {
  display: block;
  height: 1.25rem;
}
.itemLocality {
  composes: itemLocality from search;
}
.itemText {
  composes: itemInfo from search;
}

.popupContainer {
  composes: menu from search;
  left: 0;
  list-style-position: inside;
  margin: 0;
  background-color: token("color.background.neutral.0.background");
}

.messageBox {
  background: token("color.status.error.primary.background");
  color: token("color.status.error.primary.foreground.primary");
  display: flex;
  padding: token("spacing.medium");
  border-radius: token("border.radius.regular");
}
.messageBox[hidden] {
  display: none;
}

/**
  * Configurable options for widget
*/

/* Inherit the font from the web page using the widget. */
.inheritFont,
.inheritFont * {
  font-family: inherit !important;
}

/* Change the layout to a single column layout instead of the default layout. */
[data-layout="singleColumn"],
[data-layout="compact"] {
  .main {
    grid-template-columns: 1fr;
  }
  .search_container {
    max-width: unset;
  }
  .selector_options {
    width: 100%;
  }
}

[data-layout="compact"] .buttonGroup {
  justify-content: start;
}
